.card {
  border-bottom: 1px solid #ddd;
  padding: 16px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  background-color: #e0e0e0;
  cursor: pointer;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}

.card p {
  font-size: 20px;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.current-customer {
  background-color: #a9a9a9;
  border-right: 3px solid black;
}
