.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.customers-list-container {
  width: 25%;
  overflow: auto;
  border-right: 1px solid #ccc;
}

.customers-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.customer-info-container {
  background-color: #f9f9f9;
  overflow-y: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 80px 120px 0px;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .customers-list-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .customer-info-container {
    height: 75%;
    width: 100%;
    padding: 0px;
  }
}
